<div style="background: #fff; display: inline-block; user-select: none; width: {$label.preview_width}px; height: {$label.preview_height}px;">
	<div class="code_wrap" style="padding: 20px 30px 10px 30px; border-radius: 16px; border: 0; overflow: hidden; width: 100%; height: 100%; position: relative;">
		<div class="code_main" style="margin-top: 5px;">
			<div style="display: table-cell; width: auto;"></div>
			<div class="code_main_right" style="width: {$label.preview_code}px;">
				<img src="{$label.qr}" style="width: 100%;">
			</div>
			<div style="display: table-cell; width: auto;"></div>
		</div>
		<div style="font-weight: 600; font-size: 18px; margin: 20px 0 0 0; text-align: center;">напечатано в marker.team</div>
	</div>
</div>