<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Печать кода</title>
<meta name="google" content="notranslate" />
<link rel="shortcut icon" href="/favicon.ico?2" type="image/x-icon" />
<link rel="stylesheet" type="text/css" media="all" href="/css/common.css?112" />
<link rel="stylesheet" type="text/css" media="all" href="/css/section/print.css?15" />
</head>
<body onload="window.print();" style="padding: 0px;">
{include file="$main_content"}
</body>
</html>