<div class="content_wrap">
    <div style="font-size: 18px; color: #04368f; font-weight: 400;">Редактор этикетки</div>
	<div style="width: 100%; display: table; table-layout: fixed; margin-top: 20px;">
		<div id="params">{include file="./partials/section/labels/label_edit/params.html"}</div>
		<div style="display: table-cell; vertical-align: top; width: 55%;">
			<div id="preview">{include file="./partials/section/labels/label_edit/preview.html"}</div>
			<div id="params_optional">{include file="./partials/section/labels/label_edit/params_optional.html"}</div>
		</div>
	</div>
</div>