<div class="modal_head">
	<span>{if !$passport_annex.id}Добавить{else}Редактировать{/if} приложение</span>
	<i class="icon icon_delete" onclick="common.modal_hide();"></i>	
</div>
<div style="padding: 20px; border-radius: 0 0 3px 3px; background: #fff;">
	<div style="padding-top: 0px;">
		<div class="input_label">Название</div>
		<input class="input_primary" id="title" type="text" value="{$passport_annex.title}" placeholder="Приложение №1" autocomplete="off" autocorrect="off" autocapitalize="off">
	</div>
	<div style="margin-top: 20px;">
		<div class="btn_primary" onclick="passport.annex_edit_update({$passport_id}, {$passport_annex.id}, '{$mode}');">Сохранить</div>
	</div>
</div>