<div class="modal_head">
	<span>Редактировать документ</span>
	<i class="icon icon_delete" onclick="common.modal_hide();"></i>	
</div>
<div style="padding: 20px; border-radius: 0 0 3px 3px; background: #fff;">
	<div style="padding-top: 0px;">
		<div class="input_label">Название документа</div>
		<input class="input_primary" id="title" type="text" value="{$file.title}" placeholder="Название" autocomplete="off" autocorrect="off" autocapitalize="off">
	</div>
	<div style="padding-top: 15px;">
		<div class="input_label">Раздел и группа</div>
		<div class="selector" style="position: relative;" onclick="common.results_toggle(this, event);">
			<input type="text" class="input_primary" placeholder="Наименование" value="{if $file.group_title}Раздел {$file.sub_number}. {$file.title}. Отдел - {$file.group_title}{else}Дополнительные документы{/if}" autocomplete="off" autocorrect="off" autocapitalize="off" disabled style="padding-right: 36px; cursor: pointer;">
			<input type="hidden" id="template_id" value="{$file.template_id}">
			<i class="icon icon_expand" style="position: absolute; top: 1px; right: 0px; font-size: 17px; cursor: pointer; line-height: 38px; padding: 0 14px;"></i>
			<div class="results_container">
				{section name=i loop=$sections}
				<div class="result_item" onclick="common.result_select(this, '{if $sections[i].group_title}Раздел {$sections[i].sub_number}. {$sections[i].title}. Отдел - {$sections[i].group_title}{else}{$sections[i].title}{/if}', {$sections[i].id}, 'full');">{if $sections[i].group_title}Раздел {$sections[i].sub_number}. {$sections[i].title}. Отдел - {$sections[i].group_title}{else}{$sections[i].title}{/if}</div>
				{/section}
			</div>
		</div>
	</div>
	<div style="margin-top: 20px;">
		<div class="btn_primary" onclick="passport.file_edit_update({$file.id}, '{$mode}');">Сохранить</div>
	</div>
</div>