<div class="modal_head">
	<span>Подтвердите действие</span>
	<i class="icon icon_delete" onclick="common.modal_hide();"></i>	
</div>
<div style="padding: 20px; border-radius: 0 0 3px 3px; background: #fff;">
	<div style="margin: 0 0 20px 0; font-size: 12px; line-height: 135%;">Вы действительно хотите удалить это приложение цифрового паспорта? Действие нельзя отменить.</div>
	<div style="margin-top: 20px; display: table; width: 100%;">
		<div style="display: table-cell; width: 50%; vertical-align: top; padding-right: 10px;">
			<div class="btn_primary" onclick="passport.annex_delete_update({$passport_id}, {$annex_id});" style="width: 100%; height: 38px;">Удалить</div>
		</div>
		<div style="display: table-cell; width: 50%; vertical-align: top; padding-left: 10px;">
			<div class="btn_light" onclick="common.modal_hide();" style="width: 100%; height: 38px;">Отмена</div>
		</div>
	</div>
</div>