<div class="modal_head">
	<span>Забыли пароль?</span>
	<i class="icon icon_delete" onclick="common.modal_hide();"></i>	
</div>
<div style="padding: 20px; border-radius: 0 0 3px 3px; background: #fff;" id="password_restore_note">
	<div style="margin-bottom: 20px; font-size: 14px; line-height: 18px;">Укажите свою электронную почту. На нее будет отправлено письмо со ссылкой для восстановления пароля.</div>
	<div style="padding-top: 0px;">
		<div class="input_label">Электронная почта</div>
		<input class="input_primary" id="email" type="text" oninput="input_error_hide(this);" autocomplete="off" autocorrect="off" autocapitalize="off">
	</div>
	<div style="margin-top: 20px;">
		<div class="btn_primary" onclick="intro.password_restore();">Восстановить</div>
	</div>
</div>