<div class="modal_head">
	<span>{$modal_title}</span>
	<i class="icon icon_delete" onclick="common.modal_hide();"></i>	
</div>
<div style="padding: 20px; border-radius: 0 0 3px 3px; background: #fff;">
	<div style="color: #04368f; padding: 0px 0 10px 0; font-weight: 600;">I. Базовые характеристики</div>
	<div style="display: table; width: 100%; padding-top: 25px; border-top: 1px solid #ebedec;">
		<div style="display: table-cell; width: 50%; padding-right: 5px;">
			<div style="color: #04368f; font-size: 12px; font-weight: 600; margin-bottom: 10px;">Полное наименование *</div>
			<input id="title" type="text" class="input_primary" value="{$product.title}" oninput="input_error_hide(this);" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
		<div style="display: table-cell; width: 50%; padding-left: 5px;">
			<div class="input_label">Заводской номер</div>
			<input class="input_primary" id="code" type="text" value="{$product.code}" oninput="input_error_hide(this);" maxlength="50" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
	</div>
	<div style="display: table; width: 100%; padding-top: 15px;">
		<div style="display: table-cell; width: 50%; padding-right: 5px;">
			<div class="input_label">Дата изготовления</div>
			<input class="input_primary" id="produced" type="text" value="{$product.produced}" oninput="input_error_hide(this);" placeholder="ДД.ММ.ГГГГ" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
		<div style="display: table-cell; width: 50%; padding-left: 5px;">
			<div class="input_label">Дата отгрузки</div>
			<input class="input_primary" id="shipped" type="text" value="{$product.shipped}" oninput="input_error_hide(this);" placeholder="ДД.ММ.ГГГГ" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
	</div>
	<div style="display: table; width: 100%; padding-top: 15px;">
		<div style="display: table-cell; width: 50%; padding-right: 5px;">
			<div class="input_label">Заказчик *</div>
			<div style="width: 100%; position: relative;">
				<input type="text" id="customer_title" class="input_primary" placeholder="Наименование" value="{$product.customer.title}" oninput="product.search_customer(this);" autocomplete="off" autocorrect="off" autocapitalize="off">
				<input type="hidden" id="customer_id" value="{$product.customer.id}">
				<div class="results_container"></div>
			</div>
		</div>
		<div style="display: table-cell; width: 50%; padding-left: 5px;">
			<div class="input_label">Договор поставки</div>
			<div style="width: 100%; position: relative;">
				<input type="text" id="contract_title" class="input_primary" placeholder="Номер договора" value="{if $product.contract.title}{$product.contract.title} прил. {$product.contract.annex_number}{/if}" oninput="product.search_contract(this);" autocomplete="off" autocorrect="off" autocapitalize="off">
				<input type="hidden" id="contract_id" value="{$product.contract.id}">
				<div class="results_container"></div>
			</div>
		</div>
	</div>
	<div style="display: table; width: 100%; padding-top: 15px;">
		<div style="display: table-cell; width: 50%; padding-right: 5px;">
			<div class="input_label">Грузополучатель</div>
			<div style="width: 100%; position: relative;">
				<input type="text" id="consignee_title" class="input_primary" placeholder="Наименование" value="{$product.consignee.title}" oninput="product.search_consignee(this);" autocomplete="off" autocorrect="off" autocapitalize="off">
				<input type="hidden" id="consignee_id" value="{$product.customer.id}">
				<div class="results_container"></div>
			</div>
		</div>
		<div style="display: table-cell; width: 50%; padding-left: 5px;">
			<div class="input_label">Пункт назначения</div>
			<input class="input_primary" id="destination" type="text" value="{$product.destination}" placeholder="Наименование" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
	</div>
	<div style="display: table; width: 100%; padding-top: 15px;">
		<div style="display: table-cell; width: 50%; padding-right: 5px;">
			<div class="input_label">Этикетка</div>
			<div class="selector" style="position: relative;" onclick="common.results_toggle(this, event);">
				<input type="text" class="input_primary" placeholder="Название этикетки" value="{$product.label_title}" autocomplete="off" autocorrect="off" autocapitalize="off" disabled style="cursor: pointer;">
				<input type="hidden" id="label_id" value="{$product.label_id}">
				<i class="icon icon_expand" style="position: absolute; top: 1px; right: 0px; font-size: 17px; cursor: pointer; line-height: 38px; padding: 0 14px;"></i>
				<div class="results_container">
					{section name=i loop=$labels}
					<div class="result_item" onclick="common.result_select(this, '{$labels[i].title}', {$labels[i].id}, 'full'); product.options_from_label({$labels[i].id});">{$labels[i].title}</div>
					{/section}
				</div>
			</div>
		</div>
		<div style="display: table-cell; width: 50%; padding-left: 5px;">
			<div class="input_label">Количество</div>
			<input class="input_primary" id="quantity" type="text" value="{$product.quantity}" oninput="input_error_hide(this);" maxlength="10" autocomplete="off" autocorrect="off" autocapitalize="off">
		</div>
	</div>
	<div style="color: #04368f; padding: 35px 0 10px 0; font-weight: 600;">II. Дополнительные характеристики</div>
	<div style="padding-top: 5px; width: 100%; border-top: 1px solid #ebedec;">
		<div style="margin-bottom: 10px;" id="product_edit_options">
			{section name=i loop=$product.options}
			{include file="./partials/modal/products/product_edit_option.html" option=$product.options[i] count=$count_options}
			{/section}
		</div>
		<div class="btn_primary" onclick="product.option_add();">Добавить еще</div>
	</div>
	<div style="color: #04368f; padding: 35px 0 10px 0; font-weight: 600;">III. Документация</div>
	<div style="padding-top: 20px; width: 100%; border-top: 1px solid #ebedec;">
		<div class="btn_primary" onclick="product.files_upload({$product.id});" style="margin-bottom: 20px;">Загрузить</div>
		<div style="border: 1px solid #ebedec; border-radius: 3px; padding: 20px 20px; font-size: 12px; letter-spacing: 0; line-height: 150%;">
			Вы можете загрузить в карточку изделия файлы сопроводительной документации размером до 30 Mb, в форматах Excel (xls, xlsx), Word (doc, docx), Adobe Acrobat (pdf) или растровом изображении (jpg, png, bmp, gif, webp).
		</div>
		<div id="product_files" style="margin-top: 10px;">{include file="./partials/modal/products/product_edit_files.html" files=$product.files}</div>
	</div>
	<div style="margin-top: 30px; margin-bottom: 10px;">
		<div class="btn_primary" onclick="product.edit_update({$product.id}, '{$mode}');">Сохранить</div>
	</div>
</div>