{include file="./partials/intro/sub_header.html"}

<div class="container">
	<div id="why_needed">
		<div>Зачем<br>это нужно?</div>
		<div class="why_needed_text">Сегодня все большее количество организаций различных отраслей задумываются о внедрении программ для автоматизации бизнеса</div>
		<div class="why_needed_text_mobile">Сегодня все большее количество организаций различных отраслей задумываются о внедрении программ для автоматизации бизнеса.</div>
	</div>
</div>

<div class="container">
	<div id="cards">
		<div>
			<div class="cards_item" onclick="intro.video_window(1);">
				<div class="cards_cover"><i></i><img src="/images/intro/index/marker.jpg?1"></div>
                <div class="cards_content">
                  <span class="cards_subtitle">Веб-приложение</span>
                  <h3 class="h3 cards_title">Маркер<i class="cards_icon icon_arrow_right"></i></h3>
                  <p class="cards_text">Веб-приложение, которое позволит Вам исполнить любые требования к маркировке всех типов оборудования. Создавайте в сервисе уникальные этикетки, привязывайте к коду информацию и документацию и маркируйте все необходимое: продукцию, документацию, грузовые места и оборудование.</p>
                </div>
			</div>
		</div>
		<div>
			<div class="cards_item" onclick="intro.video_window(2);">
                <div class="cards_cover"><i></i><img src="/images/intro/index/scaner.jpg?1"></div>
                <div class="cards_content">
                  <span class="cards_subtitle">Мобильное приложение</span>
                  <h3 class="h3 cards_title">Сканер<i class="cards_icon icon_arrow_right"></i></h3>
                  <p class="cards_text">Мобильное приложение для Android, которое считывает любой тип кода, сформированного в «Маркере» для идентификации продукции и проведения складских и производственных операций с автоматической передачей во внешние учетные системы (1С, WMS). Не получается загрузить или открыть приложение? Сканируйте код камерой телефона и просматривайте основную информацию в мобильном браузере.</p>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="two_products">
        <div style="display: table-cell; width: 40%; vertical-align: top; background-image: url(/images/intro/index/bauleiter.jpg?3); background-size: cover; background-position: 50% 50%;"></div>
		<div style="display: table-cell; width: 60%; vertical-align: top; padding-left: 50px;">
			<h3 class="h3">Два продукта<br>масса возможностей</h3>
			<div class="two_products_table">
				<div>
					<div>
						<i class="icon_order two-products__icon"></i>
						<div class="two_products_title">Доступность</div>
						<div class="two_products_text">Переходите с дорогостоящего сканирующего оборудования на привычные смартфоны и сократите общую стоимость владения более чем в 3 раза.</div>
					</div>
					<div>
						<i class="icon_stopwatch two-products__icon"></i>
						<div class="two_products_title">Скорость</div>
						<div class="two_products_text"><a href="/scaner">«Сканер»</a> позволяет в одно касание распознавать и считывать сразу несколько кодов. Это позволит оптимизировать время и ресурсы на проведение складских и производственных операций.</div>
					</div>
				</div>
				<div>
					<div>
						<i class="icon_preferences two-products__icon"></i>
						<div class="two_products_title">Гибкость</div>
						<div class="two_products_text">Различные варианты интеграции в бизнес-процессы. Гибкий выбор функциональных возможностей для удовлетворения потребностей бизнеса.</div>
					</div>
					<div>
						<i class="icon_certificate two-products__icon"></i>
						<div class="two_products_title">Доверие</div>
						<div class="two_products_text">Повышайте уровень доверия к вашей продукции и организации на рынке, работая в надежном сервисе, которому доверяют крупные компании различных отраслей.</div>
					</div>
				</div>
				<div>
					<div>
						<i class="icon_qr-code two-products__icon"></i>
						<div class="two_products_title">Универсальность</div>
						<div class="two_products_text">Сканируйте вашим смартфоном различные типы кодов (1D, QR, DataMatrix), даже при повреждении кодов, даже на расстоянии и под любым углом.</div>
					</div>
					<div>
						<i class="icon_salesman two-products__icon"></i>
						<div class="two_products_title">Всегда на связи</div>
						<div class="two_products_text">Консультация специалистов в режиме реального времени. Помощь по внедрению решения в бизнес-процессы вашей организации.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div id="how_works">
        <img src="/images/intro/isometric.svg" class="how-works__img">
          <div class="row">
            <div class="col-4"><h3 class="h3">Как это работает?</h3></div>
            <div class="col-8"></div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="how-works__item">
                <h4 class="h4">Производитель<br>продукции</h4>
                <a href="/marker" class="how-works__tag">Маркер</a>
                <ul class="how-works-list">
                  <li class="how-works-list__item">Данные и документация по продукции заносятся в <a href="/marker">Маркер</a> из внутренней системы пользователя при помощи гибкого API.</li>
                  <li class="how-works-list__item">Формирование и печать этикеток для маркировки единичной продукции/партии/упаковки/грузового места в соответствии с требованиями Заказчика</li>
                </ul>
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4" style="text-align: right;">
              <div class="how-works__item">
                <h4 class="h4">Распределительный<br>центр</h4>
                <a href="/scaner" class="how-works__tag">Сканер</a>
                <ul class="how-works-list">
                  <li class="how-works-list__item">Распределение по транспортным средствам</li>
                  <li class="how-works-list__item">Идентификация продукции и назначение место для хранения</li>
                  <li class="how-works-list__item">Комплектование и поиск неотгруженных заказов</li>
                  <li class="how-works-list__item">Простановка статусов</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="how-works__item">
                <h4 class="h4">Склад</h4>
                <a href="/scaner" class="how-works__tag">Сканер</a>
                <ul class="how-works-list">
                  <li class="how-works-list__item">Идентификация продукции</li>
                  <li class="how-works-list__item">Автоматическое формирование транзакций по оприходованию и отгрузке в WMS системе</li>
                  <li class="how-works-list__item">Инвентаризация продукции</li>
                </ul>
                <a href="/marker" class="how-works__tag">Маркер</a>
                <ul class="how-works-list">
                  <li class="how-works-list__item">Привязка дополнительных средств идентификации (RFID метки)</li>
                  <li class="how-works-list__item">Наполнение метки данными (документация, акты, параметры)</li>
                </ul>
              </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4" style="text-align: right;">
              <div class="how-works__item">
                <h4 class="h4">Потребитель</h4>
                <a href="/scaner" class="how-works__tag">Сканер</a>
                <ul class="how-works-list">
                  <li class="how-works-list__item">Идентификация изделия</li>
                  <li class="how-works-list__item">Просмотр информации о продукции в любой момент жизненного цикла</li>
                  <li class="how-works-list__item">Контроль сроков проведения технического обслуживания и ремонта</li>
                  <li class="how-works-list__item">Прямое взаимодействие с поставщиками</li>
                </ul>
                <a href="/marker" class="how-works__tag">Маркер</a>
                <ul class="how-works-list">
                  <li class="how-works-list__item">Наполнение метки данными (документация, данные о ТО и ремонте, др.)</li>
                </ul>
              </div>
            </div>
          </div>
	</div>

	<div id="marker_title"><div>Веб-приложение<br> <a href="/marker">«Маркер»</a></div></div>
	<div id="marker">
		<div>
			<div class="marker_video"><div>
				<video playsinline autoplay muted loop>
					<source src="/video/laptop.mp4?3" type="video/mp4">
					<source src="/video/laptop.ogv?3" type="video/ogg">
					<source src="/video/laptop.webm?3" type="video/webm">
				</video>
			</div></div>
		</div>
		<div>
			<div class="marker_item"><div>№1</div><div>Создавайте и заполняйте характеристики продукции в соответствии с требованиями Заказчика. Загружайте неограниченное количество документации любых размеров и форматов.</div></div>
			<div class="marker_item"><div>№2</div><div>Выбирайте тип маркировки (QR, 1D, DataMatrix) и формируйте уникальную этикетку в удобном графическом конструкторе.</div></div>
			<div class="marker_item"><div>№3</div><div>Наносите этикетку на продукцию, грузовые места или документацию. Когда изделие промаркировано, вся информация по нему хранится в надежной системе.</div></div>
		</div>
	</div>

	<div id="scaner_title">Мобильное приложение<br><a href="/scaner">«Сканер»</a></div>
	<div id="scaner_video_mobile"><div>
		<video playsinline autoplay muted loop>
			<source src="/video/phone.mp4?3" type="video/mp4">
			<source src="/video/phone.ogv?3" type="video/ogg">
			<source src="/video/phone.webm?3" type="video/webm">
		</video>
	</div></div>
	<div id="scaner">
		<div>
			<div class="scaner_item"><div>№1</div><div>Наведите камерой телефона на код и получите доступ к полной информации и документации по поставляемой продукции. Просматривайте, делитесь и сохраняйте для доступа в off-line.</div></div>
			<div class="scaner_item"><div>№2</div><div>Считывайте коды и передавайте данные по продукции во внутренние системы (WMS, 1C) при помощи гибкого API.</div></div>
			<div class="scaner_item"><div>№3</div><div>Не можете скачать приложение? Отсканируйте код камерой вашего телефона и получите доступ к текстовой информации, необходимой для идентификации продукции.</div></div>
		</div>
		<div>
			<div id="scaner_video"><div>
				<video playsinline autoplay muted loop>
					<source src="/video/phone.mp4?3" type="video/mp4">
					<source src="/video/phone.ogv?3" type="video/ogg">
					<source src="/video/phone.webm?3" type="video/webm">
				</video>
			</div></div>
		</div>
	</div>
	
	<div class="cards_mobile">
		<div class="cards_mobile_title">Веб-приложение «Маркер»</div>
		<div class="cards_mobile_text">Веб-приложение, которое позволит Вам исполнить любые требования к маркировке всех типов оборудования. Создавайте в сервисе уникальные этикетки, привязывайте к коду информацию и документацию и маркируйте все необходимое: продукцию, документацию, грузовые места и оборудование.</div>
		<a class="cards_mobile_link" href="/marker">На страницу продукта</a>
		<div class="cards_mobile_photo marker"></div>
	</div>
	
	<div class="cards_mobile">
		<div class="cards_mobile_title">Мобильное приложение «Сканер»</div>
		<div class="cards_mobile_text">Мобильное приложение для Android, которое считывает любой тип кода, сформированного в «Маркере» для идентификации продукции и проведения складских и производственных операций с автоматической передачей во внешние учетные системы (1С, WMS). Не получается загрузить или открыть приложение? Сканируйте код камерой телефона и просматривайте основную информацию в мобильном браузере.</div>
		<a class="cards_mobile_link" href="/scaner">На страницу продукта</a>
		<div class="cards_mobile_photo scaner"></div>
	</div>
	
</div>

{include file="./partials/intro/sub_submit.html"}
{include file="./partials/intro/sub_footer.html"}