{include file="./partials/intro/sub_header.html"}

<div class="how_working">
	<div class="how_working_wrap">
		<div class="how_working_block">
			<div class="how_working_subtitle">Как это<br>работает?</div>
			<div class="how_working_info">
				<div class="how_working_title">Веб приложение, которое позволит Вам исполнить любые требования к маркировке всех типов оборудования.</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="how_marking">
		<div><img src="/images/intro/marker/how-marking.jpg" style="width: 100%;"></div>
		<div>
			<div class="how_marking_title">Как происходит маркировка?</div>
			<div class="how_marking_text">Процесс создания этикетки и маркировки продукции занимает не более 10 минут, даже если у вас более 300 позиций</div>
			<div class="how_marking_link" onclick="return scroll_to('form', 0.07);">Запросить доступ к продукту</div>
		</div>
	</div>
</div>

<div class="scroll">
	<div class="scroll_block">
		<div class="marker_service">
			<div class="marker_service_wrap">
				<div class="marker_service_content_block">
					<div class="marker_service_content">
						<div class="marker_service_title">Теперь маркировка это удобный сервис, который стал доступным для вашего бизнеса</div>
						<div class="marker_service_subtitle">Быстрая адаптация под потребности вашего бизнеса.</div>
						<div class="marker_service_minititle">Что маркировкать?</div>
						<div class="marker_service_block">
							<i class="icon icon_tag"></i>
							<div class="marker_service_text">
								<div>Единичная продукция</div>
								<span>Маркировка позволит идентифицировать продукцию на  протяжении всего жизненого цикла</span>
							</div>
						</div>
						<div class="marker_service_block">
							<i class="icon icon_file-text"></i>
							<div class="marker_service_text">
								<div>Документация</div>
								<span>Наносите код на документы для ускорения проведения бухгалтерских операций</span>
							</div>
						</div>
						<div class="marker_service_block">
							<i class="icon icon_box"></i>
							<div class="marker_service_text">
								<div>Грузовые места</div>
								<span>Маркируйте для оптимизации складских и производственных процессов</span>
							</div>
						</div>
					</div>
					<img src="/images/intro/marker/service.jpg" class="marker_service_image">
				</div>
			</div>
		</div>
			
		<div class="info_doc">
			<div class="info_doc_wrap">
				<div class="info_doc_block">
					<img class="info_doc_image" src="/images/intro/marker/info-doc.jpg" />
					<div class="info_doc_content">
						<div class="info_doc_title">Информация и документация<br> под защитой.</div>
						<div class="info_doc_text">В платформе используется система информационной безопасности, которая применяется в крупнейших он-лайн банках, таких как: Сбербанк, Альфа банк</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="system">
			<div class="system_wrap">
				<div class="system_block">
					<div class="system_info">
						<div class="system_title">Нашей системе доверяют<br> лидеры своих отраслей</div>
						<div class="system_text">С нами работают лидеры Нефтегазовой<br>и Машиностроительной отрасли</div>
						<div class="system_icons">
							<div class="system_icon">
								<div class="system_gazprom" style="text-align: left;"></div>
							</div>
							<div class="system_icon" style="text-align: center;">
								<div class="system_volgograd"></div>
							</div>
							<div class="system_icon" style="text-align: right;">
								<div class="system_neft"></div>
							</div>
						</div>
					</div>
					<img src="/images/intro/marker/system.jpg" class="system_image">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="how_marker_wrap">
	<div class="how_marker">
		<div class="how_marker_image"></div>
		<div class="how_marker_block">
			<h3 class="h3">Как это<br>работает?</h3>
			<div class="how_marker_table">
				<div>
					<div>
						<i class="icon_list how_marker__icon"></i>
						<div class="how_marker_title">Соответствие <br>с требованиям</div>
						<div class="how_marker_text">Создавайте и заполняйте характеристики продукции в соответствии с требованиями Заказчика</div>
					</div>
					<div>
						<i class="icon_google-docs how_marker__icon"></i>
						<div class="how_marker_title">Загружайте<br> документы</div>
						<div class="how_marker_text">Загружайте неограниченное количество документации любых размеров и форматов</div>
					</div>
				</div>
				<div>
					<div>
						<i class="icon_lists how_marker__icon"></i>
						<div class="how_marker_title">Различные форматы</div>
						<div class="how_marker_text">Выбирайте тип маркировки (QR, 2D, DataMatrix)</div>
					</div>
					<div>
						<i class="icon_box how_marker__icon"></i>
						<div class="how_marker_title">Уникальные этикетки</div>
						<div class="how_marker_text">Формируйте уникальную этикетку в удобном конструкторе</div>
					</div>
				</div>
				<div>
					<div>
						<i class="icon_box how_marker__icon"></i>
						<div class="how_marker_title">Маркируте всё</div>
						<div class="how_marker_text">Наносите этикетку на изделия, партии, места или документацию</div>
					</div>
					<div>
						<i class="icon_password how_marker__icon"></i>
						<div class="how_marker_title">Надежно</div>
						<div class="how_marker_text">Изделие промаркировано, и вся информация по продукции хранится в надежной системе</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{include file="./partials/intro/sub_submit.html"}

<div class="calculator">
	<div class="calculator_wrap">
		<div class="calculator_block">
			<div class="calculator_subtitle">Какой тариф <br>выбрать?</div>
			<div class="calculator_info">
				<div class="calculator_title">Укажите ваши параметры для подсчета подходящего именно вам тарифа.</div>
			</div>
		</div>
		<div class="calculator_block calculator_block_indent">
			<div class="calculator_price">
				<div class="calculator_card">
					<div class="calculator_card_title" id="calc_title">Премиум</div>
					<div class="calculator_card_subtitle">Стоимость сервиса</div>
					<div class="calculator_card_price" id="calc_price">200000 <span>₽</span></div>
					<div id="calc_volume">
						<div class="calculator_card_item">Файловое хранилище 500 Гб</div>
						<div class="calculator_card_item">Доп. функциональность</div>
						<div class="calculator_card_item">Кастомизация под заказчика</div>
					</div>
					<div class="calculator_card_text">Неизрасходованные отправки переносятся<br> на следующий месяц</div>
				</div>
			</div>
			<div class="calculator_estimate">
				<div class="calculator_estimate_block">
					<div class="calculator_estimate_subtitle">
						Количество документов
						<span onclick="toggle_class(this, 'active');">?</span>
						<div>Укажите количество документов для одной отгрузки</div>
					</div>
					<div class="calculator_estimate_title" id="range_doc_title">4 <span>шт</span></div>
					<div class="calculator_estimate_field">
						<input type="range" class="calculator_estimate_range" id="calculator_range_doc" onchange="change_range();" step="1" min="0" max="10" value="4" >
						<div>0</div>
						<div>10</div>
					</div>
					<div class="calculator_estimate_subtitle calculator_estimate_subtitle_indent">
						Количество отгрузок
						<span onclick="toggle_class(this, 'active');">?</span>
						<div>Укажите количество отгрузок</div>
					</div>
					<div class="calculator_estimate_title" id="range_otg_title">4000 <span>шт</span></div>
					<div class="calculator_estimate_field">
						<input type="range" class="calculator_estimate_range" id="calculator_range_otg" onchange="change_range();" step="50" min="0" max="10000" value="4000">
						<div>0</div>
						<div>10000</div>
					</div>
					<div class="calculator_estimate__btn" onclick="return scroll_to('form', 0.07);">Оставить заявку</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="prices">
	<div class="prices_wrap">
		<div class="prices_title">Все тарифные планы</div>
	</div>
	<div class="prices_wrap">
		<div class="prices_block">
			<div class="prices_item">
				<div class="prices_item_block">
					<div class="prices_item_title">25 000 <span>₽</span></div>
					<div class="prices_item_subtitle">Базовый</div>
					<div class="prices_item_text">Основные функции для организации маркировки и комплектации изделий.</div>
					<div class="prices_item_element">Файловое хранилище 50 Гб</div>
					<div class="prices_item_element prices_item_element_disabled">Доп. функциональность</div>
					<div class="prices_item_element prices_item_element_disabled">Кастомизация под заказчика</div>
				</div>
			</div>
			<div class="prices_item">
				<div class="prices_item_block">
					<div class="prices_item_title">50 000 <span>₽</span></div>
					<div class="prices_item_subtitle">Стандарт</div>
					<div class="prices_item_text">Расширенная функциональность для маркировки большого количества изделий.</div>
					<div class="prices_item_element">Файловое хранилище 100 Гб</div>
					<div class="prices_item_element">Доп. функциональность</div>
					<div class="prices_item_element prices_item_element_disabled">Кастомизация под заказчика</div>
				</div>
			</div>
			<div class="prices_item">
				<div class="prices_item_block">
					<div class="prices_item_title">200 000 <span>₽</span></div>
					<div class="prices_item_subtitle">Премиум</div>
					<div class="prices_item_text">Специальные возможности и кастомизация системы под требования заказчика.</div>
					<div class="prices_item_element">Файловое хранилище 500 Гб</div>
					<div class="prices_item_element">Доп. функциональность</div>
					<div class="prices_item_element">Кастомизация под заказчика</div>
				</div>
			</div>
		</div>
	</div>
</div>	  

{include file="./partials/intro/sub_footer.html"}