{include file="./partials/intro/sub_header.html"}

<div class="how_working">
	<div class="how_working_wrap">
		<div class="how_working_block">
			<div class="how_working_subtitle">Как это<br>работает?</div>
			<div class="how_working_info">
				<div class="how_working_title">Cканер это мобильное приложение<br> для ОС Android, которое Вам позволит забыть о дорогостоящем сканирующем оборудовании</div>
				<div class="how_working_text">Просматривайте всю необходимую информацию и документацию по продукции, сохраняйте и реализуйте различные операции в одно касание на вашем смартфоне. Нет возможности скачать приложение?<br> Сканируйте код камерой телефона и просматривайте основную информацию в мобильном браузере.</div>
				<div class="how_working_links">
					<a href="https://play.google.com/store/apps/details?id=team.marker" target="_blank" class="how_working_link">
						<div class="how_working_link_info">
							<i class="how_working_android"></i>
							<div class="how_working_link_text">
								<span>Доступно</span>
								<div>OC Android</div>
							</div>
						</div>
					</a>
					<div class="how_working_link how_working_link_disabled">
						<div class="how_working_link_info">
							<i class="how_working_ios"></i>
							<div class="how_working_link_text">
								<span>В разработке</span>
								<div>OC iOS</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="universal_solution">
	<div class="universal_solution_wrap">
		<div class="universal_solution_block">
			<img class="universal_solution_image" src="/images/intro/scaner/buis-solution.jpg?2">
			<div class="universal_solution_info">
				<div class="universal_solution_title">Универсальное решение для бизнеса</div>
				<div class="universal_solution_text">Сканируйте вашим смартфоном различные типы кодов (1D, QR, DataMatrix), даже при повреждении кодов, даже на расстоянии и под любым углом</div>
				<div class="link universal_solution_link" onclick="return scroll_to('form', 0.13)">Запросить доступ</div>
			</div>
		</div>
	</div>
</div>

<div class="transform_phone">
	<div class="transform_phone_wrap">
		<div class="transform_phone_title">Превратите Ваш смартфон в профессиональное сканирующее устройство</div>
		<div class="link transform_phone_link" onclick="return scroll_to('form', 0.10)">Заполнить заявку</div>
	</div>
</div>

<div class="scaner_info">
	<div class="scaner_info_wrap">
		<div class="scaner_info_block">
			<img class="scaner_info_image" src="/images/intro/scaner/tel.jpg?2">
			<div class="scaner_info_items">
				<div class="scaner_info_item">
					<i class="icon icon_mobile-hand scaner_info_icon"></i>
					<div class="scaner_info_content">
						<div class="scaner_info_title">Идентификация продукции</div>
						<div class="scaner_info_text">Наведите камерой телефона на код и получите доступ к полной информации и документации по поставляемой продукции. Просматривайте, делитесь и сохраняйте для доступа в off-line</div>
					</div>
				</div>
				<div class="scaner_info_item">
					<i class="icon icon_check-list scaner_info_icon"></i>
					<div class="scaner_info_content">
						<div class="scaner_info_title">Оприходование</div>
						<div class="scaner_info_text">Считывайте коды и передавайте данные по продукции во внутренние системы (WMS. 1C) при помощи гибкого API</div>
					</div>
				</div>
				<div class="scaner_info_item">
					<i class="icon icon_search-file scaner_info_icon"></i>
					<div class="scaner_info_content">
						<div class="scaner_info_title">Поиск и инвентаризация</div>
						<div class="scaner_info_text">Считывайте камерой телефона сразу несколько кодов. Работает на расстоянии, под любым углом и при плохом освещении</div>
					</div>
				</div>
				<div class="scaner_info_item">
					<i class="icon icon_no-wifi scaner_info_icon"></i>
					<div class="scaner_info_content">
						<div class="scaner_info_title">LITE-версия</div>
						<div class="scaner_info_text">Не можете скачать приложение? Отсканируйте код камерой вашего телефона и получите доступ к текстовой информации, необходимой для идентификации продукции.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{include file="./partials/intro/sub_submit.html"}

{include file="./partials/intro/sub_footer.html"}
