<div id="modal"><div id="modal_container"><div id="modal_overlay"><div class="dn" id="modal_close" onclick="common.modal_hide();"><i class="icon icon_delete"></i></div><div id="modal_content"></div></div></div></div>
<div class="login_bg"></div>
<div class="login_wrap">
    <div class="login_header">
        <div><a href="/" class="login_logo"><img src="/images/intro/logo_main.svg"></a></div>
        <div><a href="/" class="login_back">Назад</a></div>
    </div>
    <div class="login_body">
        <div class="login_left">
            <div class="login_title">Новый пароль</div>
            <div class="field">
                <input id="password" type="password" class="field_input" required onchange="toggle_input_class(this);" oninput="hide_error(this);" autocomplete="off" autocorrect="off" autocapitalize="off">
                <span class="field_label">Пароль</span>
                <span class="field_error">Длина пароля меньше 4 символов</span>
                <div class="login_eye" onclick="intro.type_toggle(this, 'password');">
                    <i class="icon icon_eye"></i>
                </div>
            </div>
            <div class="login_table login_left_table">
                <div><div class="button button_light button_small" onclick="intro.new_password();">Сохранить и войти<i class="icon icon_arrow_right"></i></div></div>
            </div>
            <div id="login_error" class="login_error"></div>
        </div>
        <div class="login_right">
            <div class="login_director">
                <img src="/images/director.jpg">
                <div><div>Смирнова Мария</div><div>Директор по развитию</div></div>
            </div>
            <div class="login_questions">Если у вас остались вопросы пишите нам!</div>
            <div class="login_block">
                <i class="icon icon_person"></i>
                <div>У вас нет доступа?<br>Напишите нам и мы сформируем<br>заявку на <a href="/" onclick="intro.send_request_window(event);">запрос доступа</a></div>
            </div>
        </div>
    </div>
</div>