<div class="intro_bg"></div>
<div class="intro_wrap">
	<div class="intro_icon"><img src="./images/logo.png?1" class="intro_icon_img" /></div>
    <div class="intro_input_group">
    	<i class="icon icon_email intro_icon_email"></i>
    	<input class="intro_input" type="email" id="email" placeholder="Почта" onfocus="error_hide('email');" oninput="error_hide('email');" autocomplete="off" autocorrect="off" autocapitalize="off">
		<label class="intro_error" id="email_error"></label>
	</div>
	<div class="intro_note"><span id="password_restore_note">Для восстановления пароля введите адрес вашей электронной почты</span></div>
	<div class="intro_controls"><a href="javascript:owner.password_restore();">Восстановить</a></div>
	<div class="intro_controls"><a href="./">Назад</a></div>
</div>