<div class="modal_head">
	<span>Пароль</span>
	<i class="icon icon_delete" onclick="common.modal_hide();"></i>	
</div>
<div style="padding: 20px; border-radius: 0 0 3px 3px; background: #fff;">
	<div style="line-height: 145%; text-align: center; padding: 25px 20px;">
		{if $user_id}
		Пароль для пользователя {$full_name} изменен на <span style="font-weight: 600; color: #04368f;">{$password}</span>. 
		{else}
		Пользователь {$full_name} добавлен в систему, пароль <span style="font-weight: 600; color: #04368f;">{$password}</span>. 
		{/if}
		Письмо с параметрами доступа отправлено на почту <span style="font-weight: 600; color: #04368f;">{$email}</span>.
	</div>
</div>