{if $notifications}
{section name=i loop=$notifications}
<div class="group_item droppable unselectable" style="cursor: auto; padding: 12px 115px 12px 12px; min-height: auto;">
	<div class="group_item_title">{$notifications[i].title}</div>
	<div class="group_item_body" style="margin-top: 5px; color: #474A4C;">{$notifications[i].body}</div>
	<div class="group_item_options" style="padding-top: 0; ">
		<div style="color: #8a959b;">{$notifications[i].created}</div>
	</div>
	<span style="position: absolute; top: 14px; right: 12px;" class="product_item_status {if $notifications[i].unread == 1}complete{else}wait{/if}">{if $notifications[i].unread == 0}Прочитанный{else}Новый{/if}</span>
</div>
{/section}
{else}
<div style="width: 100%; margin-top: 15px; padding: 20px; border: 1px dashed #c2c8cf; border-radius: 3px; font-size: 12px; color: #5c626a; text-align: center;">Уведомлений пока нет</div>
{/if}