{if $notifications_limit}
<div class="notifications_popup_body" id="notifications_scroll">
	{section name=i loop=$notifications_limit}
		{if $notifications_limit[i].unread == 1}
		<div class="notifications_popup_item" style="background: #F7F8FA;">
			<div style="font-weight: 600; font-size: 12px; word-break: break-word;">{$notifications_limit[i].title}</div>
			<div style="color: #474A4C; margin-top: 5px; font-size: 12px; word-break: break-word;">{$notifications_limit[i].body}</div>
			<div style="color: #8a959b; margin-top: 5px; font-size: 12px;">{$notifications_limit[i].created}</div>
		</div>
		{/if}
	{/section}

	{if $notifications_read != 0}<div style="width: 100%; padding: 10px 15px; border-top: .0625rem solid rgba(33,37,44,.15); font-weight: 500;">Просмотренные</div>{/if}
	
	{section name=i loop=$notifications_limit}
		{if $notifications_limit[i].unread == 0}
		<div class="notifications_popup_item">
			<div style="font-weight: 600; font-size: 12px; word-break: break-word;">{$notifications_limit[i].title}</div>
			<div style="color: #474A4C; margin-top: 5px; font-size: 12px; word-break: break-word;">{$notifications_limit[i].body}</div>
			<div style="color: #8a959b; margin-top: 5px; font-size: 12px;">{$notifications_limit[i].created}</div>
		</div>
		{/if}
	{/section}
</div>
{else}
<div id="notifications_content"><div style="width: 100%; padding: 25px 0; font-size: 12px; color: #5c626a; text-align: center;">Новых уведомлений пока нет</div></div>
{/if}
<div class="notifications_btn" onclick="owner.notifications_show_all();">Показать все</div>